# This file is part of OnDA.
#
# OnDA is free software: you can redistribute it and/or modify it under the terms of
# the GNU General Public License as published by the Free Software Foundation, either
# version 3 of the License, or (at your option) any later version.
#
# OnDA is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
# PURPOSE.  See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with OnDA.
# If not, see <http://www.gnu.org/licenses/>.
#
# Copyright 2014-2019 Deutsches Elektronen-Synchrotron DESY,
# a research centre of the Helmholtz Association.
cfelpyutils>=1.0.0
click>=7.0
fabio>=0.9.0
future>=0.17.1
h5py>=2.9.0
msgpack-python>=0.6.1
msgpack-numpy>=0.4.4.3
numpy>=1.16.4
pyqt5[gui]>=5.9.2
pyqtgraph[gui]>=0.10.0
pyzmq>=18.0.2
scipy>=1.2.2
toml>=0.10.0
typing>=3.7.4
