[Onda]
processing_layer = 'crystallography_hit_viewer_process_collect'
facility_layer = 'filelist_master_worker'
detector_layer = 'jungfrau_petra'
required_data = ['raw_data','detector_distance','beam_energy','timestamp', 'filename_and_event']

[FilelistParallelizationLayer]
images_per_file_to_process = 50

[General]
publish_ip = None
publish_port = None
geometry_file = 'jungfrau.geom'
max_saturated_peaks = 3
min_num_peaks_for_hit = 10
max_num_peaks_for_hit = 5000
saturation_value = 100000
send_non_hits = False
running_average_size = 100
geometry_is_optimized = True
fallback_detector_distance = 200.0
fallback_beam_energy = 9.0
speed_report_interval = 100
hit_sending_interval = -1

[DetectorCalibration]
calibration_algorithm = None
calibration_filename = None

[DarkCalCorrection]
filename = 'darkcal_jungfrau_15_05_0446.h5'
hdf5_group = '/data/data'

[Peakfinder8PeakDetection]
max_num_peaks = 2048
asics_nx = 1024
asics_ny = 512
nasics_x = 1
nasics_y = 1
adc_threshold = 1000.0
minimum_snr = 7.5
min_pixel_count = 2
max_pixel_count = 200
local_bg_radius = 3
mask_filename = './badpixelmap-jungfrau.h5'
mask_hdf5_path = '/data/data'
min_res = 0
max_res = 1200

[PeakAccumulator]
accumulated_shots = 20
