nda]
processing_layer = 'crystallography_hit_viewer_process_collect'
facility_layer = 'psana_master_worker'
detector_layer = 'cspad_slac'
required_data = ['raw_data', 'detector_distance', 'beam_energy', 'timestamp']

[PsanaFacilityLayer]
detector_name = 'CsPad'
detector_dist_epics_name = 'MFX:DET:MMS:04.RBV'
psana_calib_dir = '/reg/d/psdm/mfx/mfxn7816/calib'
event_rejection_threshold = None
pedestals_only = True

[General]
publish_ip = None
publish_port = None
geometry_file = 'mfxn7816_v4.geom'
max_saturated_peaks = 10
min_num_peaks_for_hit = 10
max_num_peaks_for_hit = 5000
saturation_value = 14000
send_non_hits = False
running_average_size = 200
geometry_is_optimized = True
fallback_detector_distance = 200.0
fallback_beam_energy = 9.0
speed_report_interval = 100
hit_sending_interval = -1

[DetectorCalibration]
calibration_algorithm = None
calibration_file = None

[DarkCalCorrection]
filename = 'current-darkcal.h5'
hdf5_group = '/data/data'

[Peakfinder8PeakDetection]
max_num_peaks = 2048
asics_nx = 194
asics_ny = 185
nasics_x = 8
nasics_y = 8
adc_threshold = 250.0
minimum_snr = 7.0
min_pixel_count = 2
max_pixel_count = 300
local_bg_radius = 4
mask_filename = 'current-mask.h5'
mask_hdf5_path = '/data/data'
min_res = 0
max_res = 900

[PeakAccumulator]
accumulated_shots = 40
~                       

